*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
ul{
  float: right;

}
.princp{
    position: fixed;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,#B335F7,#8A29BE,#7B25AA,#8527B7,#691F91);

}

ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px
}
ul li a{
    color:#1f1e1e;
    font-family: 'Changa One', cursive;
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a
.adaul:active, .adaul:hover{
    background-color: #d62b2b;
    transition: .5s;
}
.adaul:not(:hover){
    color:#000000;
    background-color: none;
    transition: .5s;
}


.checkbtn{
    display: inline-block;
    font-size: 30px;
    color:#1f1e1e;
    margin-left: 90%;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


@media(max-width: 952px){
    label.logo{
        font-size:30px;
        padding-left: 50px;
    }
    ul li a{
        font-size: 16
    }
}
@media(max-width: 930px){
    .checkbtn{
        display: block;
    }
    .adaul:not(:hover){
        color:#ffffff;
  
    }
    .princp{
        display: flex;
        flex:1;
        align-items: right;
        justify-content: right;
        background-color: aqua;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #241b55;
        top:80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    ul li a{
        font-size: 20px;

    }
    a:active, a:hover{
        background: none;
        color:rgb(9, 9, 37);
    }
    
}


.bg1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,0.5);
    background: url(img/bg1.jpeg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}
@media(max-width: 707px){
    .bg1{
        background-position-x: -10cm;
    }
}
.bg1 h2{
    color:#ffffff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0.3em 0.3em 0.3em black;
    font-size: 40px;
    border-style: solid;
    border-radius: 10px;
    border-width: 4px;
    padding: 0.5cm;
    border-color: #000000;
    
}
@media(max-width: 707px){
    .bg1{
        background-position-x: -10cm;
    }
    .bg1 h2{
        font-size: 30px
    }
}

.faixa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10px;
    background-color: #ffffff;

}

.bg2{
    padding: 7%;
    display: inline-block;
    width: 100%;
    height: 110vh;
    background:url(img/bg2.jpeg) no-repeat;
    background-color: rgba(255,255,255,0.5);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    overflow:scroll;
    overflow-x: hidden;
}
.bg2 img{
    width: 20%;
    border-radius: 100%;
}
.bg2 h1{
    font-size: 60px;
    color:#ffffff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   

}
.bg2 h2{
    color:#ffffff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.bg2 p{
    padding: 10px;
    color:#ffffff;
    border-color: #000000;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    font-weight: bold;

   
 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media(max-width: 820px){
    .bg2{
        padding: 15%;
    }
    .bg2 img{
        width: 30%;
    }

}

@media(max-width: 534px){
    .bg2{
        padding: 20%;
    }
    .bg2 img{
        width: 40%;
    }
}


.bg3{
    padding: 7%;
    display: inline-block;
    width: 100%;
    height: 120vh;
    background:url(img/bg3.jpeg) no-repeat;
    background-color: rgba(255,255,255,0.5);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    overflow:scroll;
    overflow-x: hidden;
    

}

@media(max-width: 707px){
    .bg3{
      
        background-position-x: -10cm;
        
    }
}
#llia{
    color:#4c00ff;
    text-decoration:underline;
}

#lli{
    list-style:disc;
    font-family: 'Changa One', cursive;
    color:#000000;
    font-size: 30px;
    text-shadow: #7B25AA;
    text-shadow: 0.3em 0.3em 0.3em #9b708e;
}

.bg3 h1{
    padding:3%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media(max-width:624px){
    #lli{
        font-size: 20px;
    }
    .bg3 h1{
        padding:8%;
    }

}


.bg4{
 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120vh;
    background:url(img/bg4.jpeg) no-repeat;
    background-color: rgba(255,255,255,0.5);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}
.bg4 p{
    color:#ffffff;
    border-color: #000000;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    font-weight: bold;
    width: 500px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media(max-width: 707px){
    .bg4{
        background-position-x: -10cm;
        
    }
}

#if{
    height: 20%;
}